*{
    overflow: hidden;
    margin: 0;
}

@font-face {
    font-family: 'font1';
    src: url('font1.otf');
}
body{
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'title';
    src: url('title.otf');
}

div#menu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'title';
    justify-content: space-around;
    background: rgb(128,0,128);
    background: linear-gradient(139deg, rgba(128,0,128,1) 0%, rgba(78,10,85,1) 100%);
}

div#menu button{
    font-size: clamp(1rem, 5vw, 8rem);
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;
    min-width: 50vw;
    cursor: pointer;
    transition: all 0.5s;
    padding: min(5vh, 2rem) 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#menu button:hover{
    background-color: rgba(0,0,0,.7);
}

div#menu button:active{
    scale: 0.8;
}

div#menu #title{
    font-size: min(10rem, 10vw);
    user-select: none;
    background-image: linear-gradient(
    -225deg,
    #FFFFFF 0%,
    #ff1361 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    position: relative;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
}

div#menu span:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#version{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.452);
    user-select: none;
}

[data-hide="true"]{
    /* display: none !important; */
    animation: startGame forwards 1s;
}

@keyframes startGame{
    0%{
        top: 0;
    }
    100%{
        top: -101vh;
    }
}

#menu > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    overflow: auto;
}

#menu > div > button:first-of-type{
    margin-top: min(5vh, 3rem);
}

div#loading > a{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

div#loading > a::before{
    content: '...';
}

div#loading > div{
    position: relative;
    width: 100%;
    height: 10px;
    background: white;
}

div#loading > div::after{
    content: '';
    position: absolute;
    width: var(--s);
    height: 100%;
    background: #E0187B;
    transition: all 0.2s;
}

#set-hd{
    font-size: clamp(2rem,5vw, 4rem) !important;
}

#set-hd[data-hd="false"]{
    text-decoration: line-through;
}

#loading[data-show="false"]{
    display: none;
}

@media screen and (max-width: 1000px) {
    #menu > div{
        gap: .5rem;
    }
    #menu > div > button:nth-child(2){
        margin-top: .1rem;
    }
}